includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - src/
        - workbench/app/
        - workbench/routes/

    level: 7
